# Ejecutables
*.exe
main.exe

# Archivos de compilación
*.o
*.obj
*.out
build/
# Archivos de datos
#data/articulos.dat
#data/proveedores.dat


# Configuración local de VSCode
.vscode/

# Archivos de Visual Studio
.vs/
*.ipch
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.VC.db
*.VC.VC.opendb

# No ignorar carpetas output (ejecutables se compilan aquí)
# output/
# src/output/